  /* ProductDetail.css */

.product-detail-main {
  padding: 20px;
}

.product-detail-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

.product-title {
  font-size: 20px;
  font-weight: bold;
  color: #ec4899; /* pink-500 */
}

.add-product-btn {
  padding: 10px 20px;
  border: 1px solid #fbcfe8;
  background-color: #fdf2f8;
  border-radius: 8px;
  cursor: pointer;
}

.table-wrapper {
  width: 100%;
  overflow-x: auto;
  margin-bottom: 20px;
}

.product-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #fbcfe8;
  color: #ec4899;
}

.product-table th,
.product-table td {
  border: 1px solid #fbcfe8;
  padding: 12px;
  text-align: left;
  background-color: #f8fafc; /* slate-100 */
  color: #475569; /* slate-600 */
}

.product-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.edit-btn {
  color: green;
  cursor: pointer;
}

.delete-btn {
  color: red;
  cursor: pointer;
}
