/* Container */
.register-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background:linear-gradient( to right, var(--baseColor),var(--secondaryColor));
  }
  
  /* Box */
  .register-box {
    display: flex;
    width: 50%;
    background: var(--whiteColor);
    border-radius: 12px;
    box-shadow: 0px 0px 10px var(--blackColor);
  }
  
  /* Form Section */
  .register-form {
    flex:1;
    width: 50%;
    padding: 20px;
    display:flex;
    flex-direction: column;
  
  

  }
  .RegisterPageHeadingContainer{
    display: flex;
    margin-bottom: 10px;
    gap:5px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .RegisterPageLogoContainer {
    width: 40px;
    height: 40px;
   
}
.RegisterPageLogoContainer img{
    mix-blend-mode:color-burn;
}
  
  
  
  .register-form p {
    font-size: 24px;
    color: var(--greyColorDim);
    text-align: center;
    margin-bottom: 20px;
  }
  
  .register-form label {
    font-weight: bold;
    font-size: 18px;
    color: var(--inputColor);
    margin-bottom: 5px;
    text-align: left;
    display: block;
  
  }
  
  .register-form span {
    color:var(--redColor);
  }
  
  /* Inputs */
  .register-form input {
    width: 100%;
    padding:5px 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 14px
  }
  .role-select {
    margin-top: 10px;
    
    border: 3px solid var(--secondaryColor);
    border-radius: 10px;
}
  
.RegisterPageButtonContainer{
  

    padding: 10px;
    font-size: 24px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    margin-top:10px;
}


  /* Image Section */
  .register-image {
    flex: 1;
    width: 100%; /* Adjust according to the container */
    height:100%;
    margin:10px;
  }
  
  .register-image img {
  
      width: 100%;  
      height: 500px; 
    
  }
  