/* Main wrapper */
.add-product-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  /* Container box */
  .add-product-container {
    background-color: #ffd6ed; /* pink-50 */
    padding: 24px;
    border: 1px solid #ffbcc1; /* pink-100 */
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
  }
  
  /* Heading */
  .add-product-heading {
    text-align: center;
    color: #ec4899; /* pink-500 */
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  /* Input fields */
  .add-product-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    border: 1px solid #fecdd3; /* pink-200 */
    background-color: #fff1f2; /* pink-50 */
    color: #ff45ab; /* pink-300 */
    border-radius: 8px;
    outline: none;
  }
  
  /* Dropdown */
  .add-product-select {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    border: 1px solid #fecdd3;
    background-color: #fff1f2;
    color: #f85eb3;
    border-radius: 8px;
    outline: none;
  }
  
  /* Textarea */
  .add-product-textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    border: 1px solid #fecdd3;
    background-color: #fff1f2;
    color: #f9a8d4;
    border-radius: 8px;
    outline: none;
    resize: vertical;
  }
  
  /* Submit button */
  .add-product-button {
    width: 100%;
    padding: 10px;
    background-color: #ec4899;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .add-product-button:hover {
    background-color: #db2777; /* pink-600 */
  }
  