/* src/components/Navbar.css */
.navbarBaseContainer {
   background:linear-gradient(to top, var(--baseColor),var(--secondaryColor)) ;
    color: var(--whiteColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
  }
  .navbarHeadingContainer{
    display: flex;
    flex-direction: row;
    gap:5px;
  }
  .navbarLogoContainer{
    flex:1
  }
.navbarLogoContainer img{
  width:40px;
  height:40px;
  mix-blend-mode:color-burn;
}
.navbarLogoContainer img :hover {
    transform: translateX(10px);
    transition: 5s ease-in-out;
}
.navbarNameContainer {
  flex:1;
}
  .navbarNameContainer h2 {
    margin: 0;
  }
  
  
  .NavbarLinkContainer{
    flex: 4;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 20px;

  }
  .NavbarLinkContainer  p {
    transition: 0.5s ease-in-out;
  }
  .NavbarLinkContainer p:hover {
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
    color:var(--baseColorDark);

  }
  

  
  .nav-links a {
    text-decoration: none;
    color: var(--whiteColor);
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: bold;
  }
  
  .nav-links a:hover {
    
  }
  .NavbarSearchContanier{

  }
  
  .search-bar {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .search-bar input {
    padding: 0.5rem;
    margin-right: 0.2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }
  
  .search-bar button {
    background-color:var(--whiteColor);
    color:var(--baseColorDark);
    border: none;
    border-radius: 5px;
    padding: 0.4rem 0.6rem;
    cursor: pointer;
  }
  
  .search-bar button:hover {
    background-color: var(--baseColor);
    color: var(--whiteColor);
  }
  .search-results {
    list-style: none;
    padding: 0;
    position: absolute;
    background: var(--baseColor);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.search-results li {
    padding: 10px;
    cursor: pointer;
}

.search-results li:hover {
    background: var(--whiteColor);
    color:var(--baseColorDark)
}
  .NavbarProfileContainer{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }