.customInputBaseContainer{
    padding: 5px;
    padding-bottom: 0px;
    border-radius: 10px;
    border:1px solid var(--secondaryColor);
    display: flex;
    gap: 5px;
    
}
.customInputInputContainer{
    flex:1;
}
.customInputInputContainer input{
    border: none;
    background-color: transparent;
}
.customInputInputContainer input:focus{
    outline: none;
    
}
